@tailwind base;
@tailwind components;
@tailwind utilities;

/* index.css */
html, body {
  margin: 0;
  padding: 0;
  background-color: #111827; /* same as bg-gray-900 */
  width: 100%;
  overflow-x: hidden; /* prevents horizontal scroll from shapes */
}
